.header-content {
    background-color: #333;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: white;
    margin: auto 16px;
    text-decoration: none;
}

div.nav-list > ul {
    list-style-type:none;
    display:  flex;
    margin-bottom: 0;
}

li {
    color: white;
    margin: auto 16px ;
}

a.nav-list_item {
    text-decoration: none;
    color: white;
}

.pt-5 {
    margin-top: 50px;
}